.todo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.width-respective-todo-container {
  width: 30%;
  border: 2px solid grey;
  padding: 20px;
  border-radius: 10px;
}

.todo-block {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.todo-block-header {
  text-align: center;
}

.input-button-container {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.todo-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
