.json-validator-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 50%;
}

.json-validator-area {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.text-area {
  height: 200px;
  width: 500px;
}

.buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.valid-json-result {
  color: green;
  text-align: center;
}

.error-result {
  color: red;
  text-align: center;
}

.json-format {
  background-color: rgb(195, 193, 193);
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}
