.button {
  background-color: rgb(123, 119, 208);
  border-radius: 5px;
  color: white;
  border: none;
  transition: transform 0.5s ease;
  padding: 10px;
}
.button:hover {
  cursor: pointer;
  transform: scale(1.05);
}
