.ind-article-container {
  border: 2px solid black;
  margin: 10px;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.header-art {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
