.task-add {
  display: flex;
  gap: 5px;
}
.task-input {
  border-radius: 5px;
  padding: 5px;
  border: 1px solid black;
}

.kanban-bars {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  gap: 100px;
}

.todo-bar {
  flex: 1;
  background-color: rgb(239, 225, 225);
  border-radius: 10px;
}
.inprogress-bar {
  flex: 1;
  background-color: rgb(239, 225, 225);
  border-radius: 10px;
}
.completed-bar {
  flex: 1;
  background-color: rgb(239, 225, 225);
  border-radius: 10px;
}
.task-header {
  text-align: center;
}
