.cinema-hall-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cinema-rows {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin: 10px;
  justify-content: space-between;
}
.seats {
  display: flex;
  gap: 10px;
}
.inidividual-seat {
  border: 1px solid black;
  padding: 4px; /* uniform box size */
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 4px;
  background: #f5f5f5;
}

.inidividual-seat:hover {
  cursor: pointer;
}

.buttons-container {
  display: flex;
  gap: 5px;
}

.selected {
  background-color: green;
}

.booked {
  background-color: grey;
}
