.social-share-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 20px;
}
.facebook {
  background-color: #3b5998;
}

.x {
  background-color: #000000;
}

.linkedin {
  background-color: #0077b5;
}

.whatsapp {
  background-color: #25d366;
}

.telegram {
  background-color: #0088cc;
}

.reddit {
  background-color: #ff4500;
}

.email {
  background-color: #7f7f7f;
}

.discord {
  background-color: #5865f2;
}

.social-logos-links {
  display: flex;
  gap: 5px;
  border: none;
}

.icon-buttons {
  padding: 10px;
  border: none;
  border-radius: 100%;
  font-size: 20px;
  color: white;
}
