.sidebar_main_container {
  display: flex;
  width: 100%;
  height: 100%;
  border: 2px solid green;
}
.sidebar {
  border: 2px solid red;
}
.sidebar-open {
  width: 30%;
  transition: width 1s ease;
}
.sidebar-close {
  width: 10%;
  transition: width 1s ease;
}
.main_content {
  flex: 1 1 auto;
  border: 2px solid blue;
}
.list-container {
  list-style-type: none;
}
