* {
  margin: 0;
}
.quiz-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.header {
  margin: 0;
}

.question-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.questions {
  width: 50%;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}
